*{
	margin:0px;
	padding:0px;
}

/*General settings*/

body{
	background-color: #d3d3d3;
}

header, nav, section, article, hgroup, footer{
	display:block;
}

#header{
	display:block;
	background-color: black;
	height:100px;
	width:100%;
}
#header p{
	position:absolute;
	top:15px;
	left:180px;
	color: red;
	font-family: Quicksand;
	font-size:50px;
	padding-top: 10px;
}

/*navigation bar*/

#navbar{
	display: block;
	position:relative;
	background-color:#add8e6;
}

#navbar li{
	position: relative;
	left:50px;
	display : inline-block;
	padding:10px;
	font-size: 20px;
	font-family: Garamond;
	color:white;
}

#navbar li:hover{
	color:yellow;
}

/* Meat of the page*/
#content{
	width:1200px;
	margin:auto;
	background-color: white;
	
}

article{
	display:block;
	width:95%;
	margin:auto;
}

blockquote{
	font-size: 20px;
	display: block;
}

h1{
	font-size: 35px;
}
#articleheader{
	margin-left:20px;
	padding:5px;
	padding-top: 10px;

}

#articlecontent{
	width:95%;
	margin: auto;
	padding: 5px;
}

#articlecontent p{
	font-family: Quicksand;
	font-size: 20px;
	padding: 10px;
}

iframe{
	margin-left: 300px;
	margin-top: 20px;
	margin-bottom: 30px;
}